.formInput{
    position: relative;
    border-radius: 8px;
    input{
        position: relative;
        width: 100%;
        padding: 1.8rem 5rem; 
        border-radius: inherit;
        border: none;
        outline: none;
        font-size: 1.6rem;
        font-weight: 500;
        color: var(--white);
        background-color: var(--background-inputs);

        &::placeholder{
            font-style: italic;
            font-weight: 500;   
        }
    }

    svg{
        position: absolute;
        top: 2rem;
        left: 1.6rem;
        width: 2rem;
        height: 2rem;
        z-index: 999;
        color: var( --grey-light);
    }

    
}

@media (max-width: 768px) {

    .formInput{
        input{
            font-size: 1.2rem;
        }
    }
}