.formButton{
    padding: 1.6rem 0;
    border: none;
    border-radius: 8px;
    font-size: 2rem;
    font-weight: bold;
    color: var(--white);
    background-color: var(--orange);
    transition: filter .2s ease-in-out;

    &:hover{
        filter: brightness(0.9);
    }
}

@media (max-width: 768px) {
    .formButton{
        font-size: 1.6rem;
    }
}